<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/assets/global.css" />
    <link rel="stylesheet" href="/public/assets/tabla.css" />
    <title>Tabla</title>
  </head>
  <body>
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>John</td>
            <td>25</td>
          </tr>
          <tr class="active-row">
            <td>2</td>
            <td>Jane</td>
            <td>30</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Doe</td>
            <td>35</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
